.label {
  width: 100%;
  font-weight: 600;
  text-align: left;
}

.input {
  font-size: 16px;
  width: 100%;
  margin: 0px 0 10px 0;
  padding: 20px;
  border-color: #ddd;
  border-radius: 10px;
  background-color: #eff4ff;
}

.error {
  color: tomato;
}
